txtH()
	height:arguments
	line-height:arguments
iconBg()
	background: arguments
	background-size: 100% 100%
.txt
	border: 1px solid #ccc;
	border-radius: 0.1rem;
	padding:0.1rem 0.2rem;
	box-sizing:border-box;
.btn
	display:inline-block;
	background:linear-gradient(to bottom, #dbca8d 0%,#b59855 100%);
	width:6.48rem;
	height:1.11rem;
	line-height:1.11rem;
	font-size:0.5rem;
	text-align:center;
	color:#fff;
	border-radius:0.148rem;
	border-left:1px solid #fff;
