body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1057px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u449 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u450 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u451_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u451 {
  position:absolute;
  left:317px;
  top:191px;
  width:51px;
  height:38px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u452 {
  position:absolute;
  left:2px;
  top:11px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u453_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u453 {
  position:absolute;
  left:-6px;
  top:191px;
  width:51px;
  height:38px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u454 {
  position:absolute;
  left:2px;
  top:11px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u455_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u455 {
  position:absolute;
  left:-6px;
  top:261px;
  width:51px;
  height:38px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u456 {
  position:absolute;
  left:2px;
  top:11px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u457_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u457 {
  position:absolute;
  left:3px;
  top:109px;
  width:33px;
  height:38px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u458 {
  position:absolute;
  left:2px;
  top:11px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u459_div {
  position:absolute;
  left:0px;
  top:0px;
  width:785px;
  height:348px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:60px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u459 {
  position:absolute;
  left:-212px;
  top:219px;
  width:785px;
  height:348px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u460 {
  position:absolute;
  left:2px;
  top:166px;
  width:781px;
  visibility:hidden;
  word-wrap:break-word;
}
#u461_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:100px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u461 {
  position:absolute;
  left:173px;
  top:21px;
  width:15px;
  height:15px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u462 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u463_div {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:100px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u463 {
  position:absolute;
  left:127px;
  top:53px;
  width:8px;
  height:8px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u464 {
  position:absolute;
  left:2px;
  top:-4px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u465_div {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:100px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u465 {
  position:absolute;
  left:155px;
  top:719px;
  width:56px;
  height:56px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u466 {
  position:absolute;
  left:2px;
  top:20px;
  width:52px;
  visibility:hidden;
  word-wrap:break-word;
}
#u467_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u467 {
  position:absolute;
  left:167px;
  top:732px;
  width:30px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u468 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u469_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:10px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:50px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
}
#u469 {
  position:absolute;
  left:147px;
  top:51px;
  width:70px;
  height:10px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
}
#u470 {
  position:absolute;
  left:2px;
  top:-3px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u471_div {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:628px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u471 {
  position:absolute;
  left:25px;
  top:81px;
  width:315px;
  height:628px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u472 {
  position:absolute;
  left:2px;
  top:306px;
  width:311px;
  visibility:hidden;
  word-wrap:break-word;
}
#u473 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u474_div {
  position:absolute;
  left:0px;
  top:0px;
  width:311px;
  height:60px;
  background:inherit;
  background-color:rgba(71, 78, 88, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u474 {
  position:absolute;
  left:27px;
  top:81px;
  width:311px;
  height:60px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u475 {
  position:absolute;
  left:2px;
  top:22px;
  width:307px;
  visibility:hidden;
  word-wrap:break-word;
}
#u476_div {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u476 {
  position:absolute;
  left:80px;
  top:109px;
  width:216px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u477 {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  word-wrap:break-word;
}
#u478_img {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:12px;
}
#u478 {
  position:absolute;
  left:37px;
  top:87px;
  width:295px;
  height:12px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u479 {
  position:absolute;
  left:2px;
  top:-2px;
  width:291px;
  visibility:hidden;
  word-wrap:break-word;
}
#u480_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u480 {
  position:absolute;
  left:37px;
  top:110px;
  width:23px;
  height:23px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u481 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u482 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u483_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:2px;
}
#u483 {
  position:absolute;
  left:62px;
  top:401px;
  width:239px;
  height:1px;
}
#u484 {
  position:absolute;
  left:2px;
  top:-8px;
  width:235px;
  visibility:hidden;
  word-wrap:break-word;
}
#u485_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:2px;
}
#u485 {
  position:absolute;
  left:62px;
  top:449px;
  width:239px;
  height:1px;
}
#u486 {
  position:absolute;
  left:2px;
  top:-8px;
  width:235px;
  visibility:hidden;
  word-wrap:break-word;
}
#u487 {
  position:absolute;
  left:62px;
  top:537px;
}
#u487_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u487_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u488_div {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:39px;
  background:inherit;
  background-color:rgba(22, 155, 213, 0.309803921568627);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u488 {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:39px;
  color:#FFFFFF;
}
#u489 {
  position:absolute;
  left:2px;
  top:12px;
  width:235px;
  word-wrap:break-word;
}
#u487_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u487_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u490_div {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:39px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u490 {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:39px;
  color:#FFFFFF;
}
#u491 {
  position:absolute;
  left:2px;
  top:12px;
  width:235px;
  word-wrap:break-word;
}
#u492 {
  position:absolute;
  left:62px;
  top:357px;
  width:239px;
  height:42px;
}
#u492_input {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:42px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#1E1E1E;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u493 {
  position:absolute;
  left:62px;
  top:404px;
  width:156px;
  height:45px;
}
#u493_input {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:45px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#1E1E1E;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u494_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(22, 155, 213, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u494 {
  position:absolute;
  left:218px;
  top:406px;
  width:83px;
  height:40px;
  font-size:12px;
  color:#FFFFFF;
}
#u495 {
  position:absolute;
  left:2px;
  top:12px;
  width:79px;
  word-wrap:break-word;
}
#u496 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u497_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:2px;
}
#u497 {
  position:absolute;
  left:62px;
  top:497px;
  width:239px;
  height:1px;
}
#u498 {
  position:absolute;
  left:2px;
  top:-8px;
  width:235px;
  visibility:hidden;
  word-wrap:break-word;
}
#u499 {
  position:absolute;
  left:62px;
  top:451px;
  width:234px;
  height:45px;
}
#u499_input {
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:45px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#1E1E1E;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u500_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:80px;
  height:21px;
}
#u500p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:72px;
  height:1px;
}
#u500p000_img {
  position:absolute;
  left:-1px;
  top:-11px;
  width:84px;
  height:22px;
}
#u500p001 {
  position:absolute;
  left:56px;
  top:-10px;
  width:20px;
  height:20px;
}
#u500p001_img {
  position:absolute;
  left:0px;
  top:-11px;
  width:30px;
  height:42px;
}
#u500.compound {
  width:0px;
  height:0px;
}
#u500 {
  position:absolute;
  left:350px;
  top:477px;
  width:70px;
  height:1px;
}
#u501 {
  position:absolute;
  left:2px;
  top:-8px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u502_div {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:83px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u502 {
  position:absolute;
  left:430px;
  top:435px;
  width:221px;
  height:83px;
}
#u503 {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  word-wrap:break-word;
}
#u504_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:80px;
  height:21px;
}
#u504p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:72px;
  height:1px;
}
#u504p000_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:84px;
  height:22px;
}
#u504p001 {
  position:absolute;
  left:56px;
  top:-10px;
  width:20px;
  height:20px;
}
#u504p001_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:30px;
  height:40px;
}
#u504.compound {
  width:0px;
  height:0px;
}
#u504 {
  position:absolute;
  left:350px;
  top:562px;
  width:70px;
  height:1px;
}
#u505 {
  position:absolute;
  left:2px;
  top:-8px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u506_div {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u506 {
  position:absolute;
  left:430px;
  top:539px;
  width:281px;
  height:80px;
  color:#FF0000;
}
#u507 {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  word-wrap:break-word;
}
#u508_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:92px;
  height:21px;
}
#u508p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:83px;
  height:1px;
}
#u508p000_img {
  position:absolute;
  left:-11px;
  top:-11px;
  width:96px;
  height:22px;
}
#u508p001 {
  position:absolute;
  left:-7px;
  top:-10px;
  width:20px;
  height:20px;
}
#u508p001_img {
  position:absolute;
  left:-11px;
  top:-11px;
  width:32px;
  height:42px;
}
#u508.compound {
  width:0px;
  height:0px;
}
#u508 {
  position:absolute;
  left:340px;
  top:185px;
  width:81px;
  height:1px;
  color:#FF0000;
}
#u509 {
  position:absolute;
  left:2px;
  top:-8px;
  width:77px;
  visibility:hidden;
  word-wrap:break-word;
}
#u510_div {
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u510 {
  position:absolute;
  left:431px;
  top:178px;
  width:288px;
  height:48px;
  color:#FF0000;
}
#u511 {
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  word-wrap:break-word;
}
#u512_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:130px;
}
#u512 {
  position:absolute;
  left:114px;
  top:162px;
  width:136px;
  height:130px;
}
#u513 {
  position:absolute;
  left:2px;
  top:57px;
  width:132px;
  visibility:hidden;
  word-wrap:break-word;
}
#u514_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:80px;
  height:21px;
}
#u514p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:72px;
  height:1px;
}
#u514p000_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:82px;
  height:22px;
}
#u514p001 {
  position:absolute;
  left:56px;
  top:-10px;
  width:20px;
  height:20px;
}
#u514p001_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:32px;
  height:40px;
}
#u514.compound {
  width:0px;
  height:0px;
}
#u514 {
  position:absolute;
  left:355px;
  top:378px;
  width:70px;
  height:1px;
}
#u515 {
  position:absolute;
  left:2px;
  top:-8px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u516_div {
  position:absolute;
  left:0px;
  top:0px;
  width:485px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u516 {
  position:absolute;
  left:439px;
  top:328px;
  width:485px;
  height:64px;
  color:#FF0000;
}
#u517 {
  position:absolute;
  left:0px;
  top:0px;
  width:485px;
  word-wrap:break-word;
}
#u518_div {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:67px;
  background:inherit;
  background-color:rgba(51, 51, 51, 0.749019607843137);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u518 {
  position:absolute;
  left:431px;
  top:663px;
  width:271px;
  height:67px;
  color:#FFFFFF;
}
#u519 {
  position:absolute;
  left:2px;
  top:26px;
  width:267px;
  word-wrap:break-word;
}
#u520_div {
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u520 {
  position:absolute;
  left:431px;
  top:740px;
  width:303px;
  height:16px;
  color:#FF0000;
}
#u521 {
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  word-wrap:break-word;
}
#u522_div {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:67px;
  background:inherit;
  background-color:rgba(51, 51, 51, 0.749019607843137);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u522 {
  position:absolute;
  left:754px;
  top:663px;
  width:271px;
  height:67px;
  color:#FFFFFF;
}
#u523 {
  position:absolute;
  left:2px;
  top:18px;
  width:267px;
  word-wrap:break-word;
}
#u524_div {
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u524 {
  position:absolute;
  left:754px;
  top:740px;
  width:303px;
  height:16px;
  color:#FF0000;
}
#u525 {
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  word-wrap:break-word;
}
#u526_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:37px;
}
#u526 {
  position:absolute;
  left:194px;
  top:629px;
  width:76px;
  height:37px;
}
#u527 {
  position:absolute;
  left:2px;
  top:10px;
  width:72px;
  visibility:hidden;
  word-wrap:break-word;
}
#u528_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:37px;
}
#u528 {
  position:absolute;
  left:66px;
  top:629px;
  width:76px;
  height:37px;
}
#u529 {
  position:absolute;
  left:2px;
  top:10px;
  width:72px;
  visibility:hidden;
  word-wrap:break-word;
}
